.sobre__descricao {
    color: #595959;
    font-family: Roboto;
    font-weight: 300;
}

@media screen and (min-width: 0) {
    .sobre__descricao {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 762px) {
    .sobre__descricao {
        font-size: 1.75rem;
    }
}